.header {
    grid-area: h;
}

.header img {
    width: 40px;
    margin: 10px;
}
.header {
    background-color: green;
}

.loginBlock {
    float: right;
}

.loginBlock span {
    font-weight: bolder;
    color: white;
}

.loginBlock a {
    font-weight: bolder;
    color: white;
}
